.panel {
    box-shadow: -2px 15px 48px 8px rgba(0,0,0,0.47);
    -webkit-box-shadow: -2px 15px 48px 8px rgba(0,0,0,0.47);
    -moz-box-shadow: -2px 15px 48px 8px rgba(0,0,0,0.47);
    border-radius: 10rem;
}