/* Navbar Container */
.header-nav {
  background: #2d2d2d;
  height: 3.6rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  padding: 0 1.2rem;
  border-bottom: 2px solid #ff5722;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;

}

.header-nav.scrolled {
  text-decoration: none;
  background: rgba(45, 45, 45, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo and Title */
.nav-item img {
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-item h5 {
  color: #ff5722;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation Links */
.nav-item {
  text-decoration: none;
  margin: 0 1rem;
}

.link {
  color: #ff5722;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  /* padding: 0.5rem 1rem; */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  /* background-color: #ff5722; */
  text-decoration: none;
  color: #ff5722;
}

.nav-item.active .link {
  background-color: #f0d0d0;
  padding: 0.5rem 1.4rem;
  text-decoration: none;
  color: #ff5722;
  font-weight: bold;
}

/* Login Button */
.nav-item .MuiSvgIcon-root {
  color: #ff5722;
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.login-item .MuiSvgIcon-root:hover {
  text-decoration: none;
  color: #ffffff;
}

nav .menu {
  display: none;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 768px) {
  .nav-item {
    margin: 0 0.5rem;
  }

  .link {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  Nav .i-link {
    display: none;
  }

  .login-item {
    display: none;
  }

  Nav .menu {
    display: block;
    color: #ff5722;
  }

  .login-item {
    display: none;
    text-decoration: none;
  }
}

@media screen and (max-width: 640px) {

  .nav-logo,
  .nav-title {
    display: none;
  }

  Nav .i-link {
    display: none;
  }

  Nav .i-img {
    width: 15rem;
  }

  Nav .menu {
    display: block;
    color: #ff5722;
    cursor: pointer;
    background-color: transparent;
  }

  .login-item {
    display: none;
    text-decoration: none;

  }
}