.chart{
    flex: 4;
    box-shadow: 12px 12px 24px 5px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 12px 12px 24px 5px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 12px 12px 24px 5px rgba(0, 0, 0, 0.73);
    border-radius: .5rem;
    width: 30%;
}