.destionation-ares{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
.dis-search{
    background-color: rgb(244, 244, 244);
    border: .5rem;
}

.page-header{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(98, 97, 97, 0.18), rgba(121, 119, 119, 0.169)), url(./z1.jpg);
}

@media screen and (max-width: 640px) {
    .destinationList {
        display: none;
    }
    
}

/* For larger screens */
.tabContainer {
    display: block;
  }
  
  /* For smaller screens */
  .selectContainer {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    /* For smaller screens, hide Tabs and show the select */
    .tabContainer {
      display: none;
    }
    .selectContainer {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }